@import "var";
@import "mixin";
@import "vender";


// back-web-img
.back-web-img {
    background-image: url(../img/back-web_page.jpg);background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    
}

// header_area
#header_area {
    .img_back {
        background-image: url(./img/top-backgroungsmm.jpg);
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        // background-image: linear-gradient(31deg, #001aff, #7000ff);
        height: 21.2rem;
    & .logo_int{
        // width: 19rem;
    }
    & .banner {
            @include align-flex-center;
            background-image: url(./img/background-for-top-banner.png);
            background-repeat: no-repeat;
            width: 100%;
            position: relative;
            margin: 2rem 0rem 0rem 0rem;

            & #BuyNowButton{
                @include myButton;
                margin: 1rem 0rem 0rem 0rem;
            }

            & .computer {
                margin: .5rem 4rem 2rem 6rem;
               
            }

            & .up_to {
                margin: 0rem 0rem 0rem 3rem;
                font-size: 1rem;
            }
            & .fourty_pr {
                margin: 0.5rem 0rem 2rem 0rem;
            }
        }
        }
        & .search {
            @include search;
        }
        & .social_area {
            color: #ffffff;
            margin: 0rem 0rem -1.5rem 0rem;            
        }
    }
    
    
.navbar-theme {
    margin-top: 0;
    font-size: 1rem;
    background: $background-color;
    font-weight: 600;
    margin: -5.2rem 0rem 2rem 0rem;
    & .dropdown {
        margin: 0 2rem;
    }

    & .nav-link {
        color: #fff;

    }

    & .deal {
        margin: 0 1rem 0 11rem;
    }
}



// hotdeal_backgroung
#hotdeal_backgroung {
    background-image: url(./img/hotdeal_backgroung.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: -2rem 0 0 0rem;
    & .hotdeal_banner{
        & .Generation_text{
            margin: 2rem 3rem 3rem 0rem;
        }
        margin: 2rem 0rem 2rem 8rem;
        & .hotdeal{
            font-size: 1.5rem;
        }
        & .wirless{
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    & .phones{
        margin: 2rem 00rem 7rem -10rem;
        height: 22rem;
    }
}

// Best multimedia system | among Below | 2 Banner
.multimedia_banner {
    margin: -6rem 0 0 0rem;
    & .bk_img_cam {
        background-image: url(./img/cam-left-back-img.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0;
        padding: 2rem 3rem 0rem 8rem;
        color: #fff;
    }
    & .bk_img_spkr {
        background-image: url(./img/spkr-right-img.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0;
        padding: 2rem 12rem 0rem 1rem;
        color: #fff
    }
    & .heading_media{
        font-size: 1.8rem;
    }
}


// Deal of the day 
.deal_background {
    background-image: url(./img/deal-of-the-day.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 3rem 0rem 0rem 0rem;
    padding: 2rem;
    & .deal_heading{
        font-size: 1.5rem;
        margin: 0rem 0rem 2rem 0rem;
    }
    & .pc_heading {font-size: 1rem;
    }
    & .pc_stars {
        color: $background-color;
        margin: .5rem 0rem 1rem 0rem;
    }
    & .pc_price_sh {
        color: $background-color;
    }    
    & .pc_price_size {
        font-size: 1rem;  
    }    
    & .pc_cart_list {
        font-size: .8rem; 
    }    
    & .pc_cart {
        border: silver solid;
        padding: .5rem;
    }    
    & .pc_heart {
        border: silver solid;
        color: $background-color;
        padding: .5rem;
        margin: .5rem;
        font-size: 1rem;
    }    
    & .pc_sync {
        border: silver solid;
        padding: .5rem;
    }    
}


// discount_banner
.discount_banner {
    background-image: url(./img/huge-descount-banner.PNG);
    background-repeat: no-repeat;
    // height: 100%;
    // width: 100%;
    padding: 7rem;
}

// slider_back
#slider_back_img {
    background-image: url(./img/slider-back.png);
    background-repeat: no-repeat;
    margin: 3rem 0rem 3rem 0rem;
    padding: 3rem;
    & .featured_heading {color: #fff;
        margin: 1rem 0rem 2rem 4rem;
        font-size: 2rem;
    }
}


.subButton{
    @include subButton;
}
// Our Blog
.blog_text{
    & span{
        font-weight: 100;
    }
}


// _slider
.lptp_img{
    width: 12rem;height: 12rem;
}
.slider_para{
    font-size: .7rem;
    // margin: 0rem; padding: 0rem;
}



// last_card_slider
.cards_slider {
    margin: 0.5rem;
    padding: 2rem 1rem;

    & .clip_btn{
        @include clip_btn;
    }
}

// footer area
.center-content {
background-image: url(./img/footer.jpg);
    position: relative;
    width: 100%;
    height: 17rem;
    color: white;
    & .footer_top_heading{
        color: $background-color;
        font-size: 1.1rem;
        // margin: 2rem 0rem;
    }
    & .ft_para {
        font-size: .8rem;
        // padding: 1rem;
        margin: 2rem 0rem 2rem 0rem;
    }
    & .para_short {
        // padding: 1rem;
        margin: 2rem 4rem 2rem 4rem;
    }

    & .fab {
        margin: 0rem 0.5rem;
        color: #fff;
        
    }
}

// footer bottom area
.footer_bottom {
    width: 100%;
    height: 2rem;
    background: #1b1b1b;
    color: white;
    text-align: center;
    padding-top: .5rem;
    font-size: .7rem;
}




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Apply styles medium devices and up to extra large devices
@media (min-width: 768px) and (max-width: 1199.98px) {
}


